@import "../node_modules/spice-sass/src/spice";
@import url("https://use.typekit.net/hfs7ihd.css");
@include normalise;
@include containerClass(1000px);
@include flexGrid;

$primary: $col-belize-hole;

body{
    color: #353535;
    background-color: #dadfe4;
    font-family: "ff-enzo-web";
    @include verticalRhythm;
}

h1, h2, h3, h4, h5, h6, {
    color: $primary;
    font-weight: bold;
}

.sarina {
    font-family: "sarina";
}

strong {
    font-weight: bold;
}

@import "./components/intro/intro";
@import "./components/installation/installation";
@import "./components/configuration/configuration";
@import "./components/footer/footer";
@import "./components/builder/builder";
